.przedszkole5 {
  margin:20px;
  
  
  .image-gallery {
    margin: 0 auto;
    padding: 20px;
    max-width: 1400px;
    
  }
  
  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    padding: 0;
    z-index: 5!important;
  }
  .image-gallery-thumbnail.active,
  .image-gallery-thumbnail:focus {
    border: 4px solid$main-color !important;
  }
  .image-gallery-thumbnail:hover {
    border: 4px solid $main-color !important;
  }
  .image-gallery-icon:hover {
    color: $main-color !important;
  }
  .image-gallery-content .image-gallery-slide .image-gallery-image {
    max-height: calc(85vh - 80px) !important;
  }
}
.image-gallery-content.fullscreen {
  background: #000;
  z-index: 30;
}
.image-gallery-fullscreen-button{
  display: none;
}